<div class="page-header">
  <h1>Time Clock</h1>
</div>
<div class="col-lg-12">
	<div class="alert">Hi {{currentUser.name}} you are currently {{currentUser.status}}</div>
</div>
<div class="col-lg-9">
	<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Department</th>
					<th>Job Title</th>
					<th>Status</th>
					<th>Time</th>
				</tr>
			</thead>
			<tr ng-repeat="(key, employee) in employees" ng-click=selectEmployee(key)>
			<td>{{employee.name}}</td>
			<td>{{employee.department}}</td>
			<td>{{employee.title}}</td>
			<td>{{employee.status}}</td>
			<td>{{employee.lastTime| date:'MM/dd/yyyy @ h:mma' }}</td>
		</tr>
	</table>
	<table class='table table-striped'>		<tr ng-show="currentUser.isManager">
			<form name="form" class="css-form" novalidate>
			<td><input ng-model="form.newName" class="form-control" required/></td>
			<td><select ng-model="form.newDepartment" class="form-control" required/>
				 <option ng-repeat="department in departments" value="{{department.name}}"  required>{{department.name}}</option>
			</select></td>
			<td><select ng-model="form.newTitle" class="form-control"/>
				 <option ng-repeat="title in titles" value="{{title.name}}" >{{title.name}}</option>
			</select></td>
			<td><input type="checkbox" ng-model="form.isManager"></td>
			<td ><button class="btn btn-success" ng-click="addEmployee(form)">New Employee</button></td>
		</form>
		</tr></table>
</div>
<div class="col-lg-3">
	<div class="well">
		<button class="btn btn-success btn-block" ng-click="clockIn('Clocked In')">Clock In</button>
		<button class="btn btn-warning btn-block" ng-click="clockOut('On Break')">Break</button>
		<button class="btn btn-info btn-block" ng-click="clockOut('At Lunch')">Lunch</button>
		<button class="btn btn-danger btn-block" ng-click="clockOut('Clocked Out')">Leaving for Day</button>
	</div>
</div>